.container{
    padding: 10px;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
}

.date-picker{
    width: 100%;
    background-color: white;
    height: 80px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

nz-range-picker{
    height: 40px;
    /* border: none; */
    /* background-color: #F2F2F2; */
    width: 250px;
    margin-bottom: 10px;
    color: white!important;
}

.date-label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
}